<div class="pokemon-wrapper">

  <!-- <app-pokemon-detail [selectedPokemon]="pokemonDetail$ | async"
                        (addToTeam)="addPokemonToTeam($event)"></app-pokemon-detail> -->

  <app-pokemon-detail [selectedPokemon]="selectedPokemon"></app-pokemon-detail>

  <!-- <app-pokemon-list [pokemonList]="pokemonList$ | async"
                    (emitSelectedPokemon)="requestPokemonDetail($event)"></app-pokemon-list> -->
  <app-pokemon-list [pokemonList]="pokemonList"></app-pokemon-list>
</div>

<div class="pokemon-team-wrapper">
  <!-- <app-pokemon-team [currentPokemonTeam]="currentPokemonTeam"
                      (removeFromTeam)="removePokemonFromTeam($event)"></app-pokemon-team> -->
  <div class="pokemon-team">
    <!-- <app-pokemon-team-member *ngFor="let teamMember of currentPokemonTeam"
                               [pokemonTeamMember]="teamMember"
                               (removeFromTeam)="removePokemonFromTeam($event)"></app-pokemon-team-member> -->
    <section class="pokemon-team-member"
             *ngIf="pokemonTeamMember !== undefined">

      <span>{{ pokemonTeamMember?.name }}</span>
      <img src="{{pokemonTeamMember?.image}}"
           alt="Front sprite of {{pokemonTeamMember?.name}}">
      <!-- <button (click)="removePokemonFromTeam(pokemonTeamMember)">Remove</button> -->
      <button>Remove</button>
    </section>

  </div>

</div>
